body { background-color: #fff; font-family: 'Roboto', 'sans-serif'; }

.container { width: 960px; height: 100vh; margin: 0 auto; display: grid; grid-template-columns: repeat(8, 120px); grid-auto-rows: 100px; justify-items: stretch; }

header { text-align: center; grid-area: 1 / 1 / 1 / last-line; }

h1 { color: #000; font-size: 72px; margin: 0; }

h2 { display: inline-block; background-color: #000; color: #fff; font-size: 20px; margin: 0; }

.product { position: relative; }

.pname { color: #000; font-size: 48px; font-family: 'Roboto', 'sans-serif'; margin: 0; white-space: nowrap; text-shadow: 0 -14px 0 rgba(0, 0, 0, 0.3); z-index: 10; position: relative; }

.pname::before { content: attr(data-title); overflow: hidden; position: absolute; top: -25px; opacity: 0.1; text-shadow: 0 0 0; }

.psname { color: #000; font-size: 24px; font-style: italic; white-space: nowrap; }

.psname span { display: block; }

.number { font-size: 48px; font-family: 'Roboto', 'sans-serif'; }

.solid-box { background-color: #50E3C2; position: relative; z-index: -1; }

.hollow-box { border: 20px solid #50E3C2; position: relative; z-index: -1; }

.crosswalk { background-image: repeating-linear-gradient(135deg, #50E3C2, #50E3C2 20px, transparent 20px, transparent 40px); position: relative; z-index: 5; width: 240px; height: 100px; }

.img-box { width: 100%; height: 100%; }

.img-box img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

/*  product 1  */
#p1 { grid-area: 3 / 1 / 7 / 5; }

#t1 { grid-area: 3 / 1 / auto / auto; -webkit-transform: translateY(-20px); transform: translateY(-20px); }

#b1 { grid-row-start: 3; grid-column-start: 3; grid-row-end: span 2; grid-column-end: span 2; -webkit-transform: translate(60px, -50px); transform: translate(60px, -50px); }

#n1 { grid-area: 7 / 1 / auto / auto; }

#c1 { grid-column-start: 1; grid-row-start: 7; -webkit-transform: translate(60px, -50px); transform: translate(60px, -50px); }

#s1 { grid-column-start: 5; grid-row-start: 6; }

#s1 span { -webkit-transform-origin: left top; transform-origin: left top; -webkit-transform: rotate(90deg) translateY(-27px); transform: rotate(90deg) translateY(-27px); }

/*  product 2  */
#p2 { grid-area: 4 / 6 / 6 / 8; }

#t2 { grid-area: 6 / 7 / auto / auto; }

#b2 { grid-row-start: 3; grid-column-start: 7; grid-row-end: span 2; grid-column-end: span 2; }

#n2 { grid-area: 3 / 8 / auto / auto; text-align: right; }

#x2 { grid-row-start: 4; grid-column-start: 7; grid-row-end: span 2; grid-column-end: span 2; -webkit-transform: translate(-60px, -50px); transform: translate(-60px, -50px); }

#s2 { grid-area: 4 / 6 / auto / auto; }

#s2 span { -webkit-transform: translate(-27px, -27px); transform: translate(-27px, -27px); }

/*  product 3  */
#p3 { grid-area: 9 / 1 / 11 / 5; }

#t3 { grid-area: 9 / 2 / auto / auto; -webkit-transform: translateY(-50px); transform: translateY(-50px); }

#b3 { grid-row-start: 10; grid-column-start: 4; grid-row-end: span 2; grid-column-end: span 2; -webkit-transform: translate(-60px, -50px); transform: translate(-60px, -50px); }

#n3 { grid-area: 11 / 5 / auto / auto; }

#x3 { grid-row-start: 9; grid-column-start: 1; grid-column-end: span 2; -webkit-transform: translateY(-50px); transform: translateY(-50px); }

#s3 { grid-area: 11 / 1 / auto / auto; }

#s3 span { -webkit-transform: translateX(27px); transform: translateX(27px); }

/*  product 4  */
#p4 { grid-area: 9 / 7 / 13 / 9; }

#t4 { grid-area: 9 / 7 / auto / auto; -webkit-transform: rotate(270deg) translate(-36px, -60px); transform: rotate(270deg) translate(-36px, -60px); }

#b4 { grid-row-start: 8; grid-column-start: 7; grid-row-end: span 2; grid-column-end: span 2; -webkit-transform: translateX(-60px); transform: translateX(-60px); }

#n4 { grid-area: 12 / 6 / auto / auto; text-align: right; -webkit-transform: translateY(50px); transform: translateY(50px); }

#c4 { grid-row-start: 13; grid-column-start: 7; grid-column-end: span 2; -webkit-transform: translateY(-50px); transform: translateY(-50px); }

#s4 { grid-area: 7 / 8 / auto / auto; }

#s4 span { -webkit-transform: rotate(90deg) translateY(-50px); transform: rotate(90deg) translateY(-50px); }

/*  product 5  */
#p5 { grid-area: 13 / 3 / 15 / 5; }

#t5 { grid-area: 13 / 1 / auto / auto; -webkit-transform: translateY(50px); transform: translateY(50px); }

#b5 { grid-row-start: 14; grid-column-start: 2; grid-column-end: span 2; -webkit-transform: translateY(50px); transform: translateY(50px); }

#n5 { grid-area: 14 / 2 / auto / auto; -webkit-transform: translateY(50px); transform: translateY(50px); }

#c5 { grid-row-start: 13; grid-column-start: 2; -webkit-transform: translate(-60px, -50px); transform: translate(-60px, -50px); }

#s5 { grid-area: 13 / 5 / auto / auto; }

/*  product 6  */
#p6 { grid-area: 15 / 5 / 19 / last-line; }

#t6 { grid-area: 14 / 6 / auto / auto; -webkit-transform: translateY(50px); transform: translateY(50px); }

#b6 { grid-row-start: 18; grid-column-start: 5; grid-column-end: span 4; -webkit-transform: translateY(50px); transform: translateY(50px); }

#n6 { grid-area: 16 / 4 / auto / auto; -webkit-transform: translate(60px, 50px); transform: translate(60px, 50px); }

#x6 { grid-row-start: 17; grid-column-start: 4; grid-row-end: span 2; -webkit-transform: translateX(60px); transform: translateX(60px); }

#s6 { grid-area: 19 / 6 / auto / auto; -webkit-transform: translateX(60px); transform: translateX(60px); }

/*  product 7  */
#p7 { grid-area: 17 / 1 / 21 / 3; }

#t7 { grid-area: 17 / 3 / auto / auto; -webkit-transform: rotate(90deg) translate(8px, 60px); transform: rotate(90deg) translate(8px, 60px); }

#b7 { grid-row-start: 16; grid-column-start: 1; grid-column-end: span 2; grid-row-end: span 3; -webkit-transform: translate(60px, 50px); transform: translate(60px, 50px); }

#n7 { grid-area: 20 / 3 / auto / auto; text-align: right; -webkit-transform: translateY(50px); transform: translateY(50px); }

#x7 { grid-row-start: 19; grid-column-start: 3; grid-column-end: span 1; grid-row-end: span 2; }

#s7 { grid-area: 17 / 1 / auto / auto; -webkit-transform: translateY(-27px); transform: translateY(-27px); }
